/*
   Reset
------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0;
    font-size: 100%; vertical-align: baseline; background: transparent; }
body {  line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content:
none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }


/* 
   General 
------------------------------------------------------------------- */

html {
    font-size: 70%; /* reset 1em to 10px */
    height: 100%;
}

body {
    background: #353530;
    color: #5A5A50;
    font: normal 1.1rem Verdana,serif; /*Georgia,sans-serif;*/
    height: 100%;
    padding-bottom: 1px; /* force scrollbars */
}


/* 
   Typography 
------------------------------------------------------------------- */

p {
    line-height: 1.2rem;
    padding: 0.2em 0 1.2em;
    font-size: 1.1rem;
}

h1 {font: normal 2.2em Verdana,serif;}
h2 {font: normal 2em Verdana,serif;}
h3 {font: normal 1.8em Verdana,serif;}
h4 {font: normal 1.6em Verdana,serif;}
h5 {font: normal 1.4em Verdana,serif;}
h6 {font: bold 1.2em Verdana,serif;}

h1,h2,h3,h4,h5,h6 {margin-bottom: 0.1em;}

blockquote {
    background: #F6F6F2 url('img/backgrounds.gif') no-repeat 0 -414px;
    border-bottom: 1px solid #E0E0D4;
    border-top: 1px solid #E0E0D4;
    color: #332;
    display: block;
    margin: 0.6em 0 1.6em;
    padding: 0.8em 1em 0.2em 46px;
}
.bold {
    font-weight: bold;
}
label {
    font-weight: normal;
}
/* 
   Tables
------------------------------------------------------------------- */

table.data_table {
    border: 1px solid #CCB;

    /*width: 100%;*/
}
table.data_table th {
    background: url('img/grain_dark.gif');
    border: 1px solid #CCB;
    color: #555;
    text-align: left;
}
table.data_table tr {border-bottom: 1px solid #DDD;}
table.data_table td, table th {padding: 5px 8px;}
table.data_table td {
    background: url('img/grain_light.gif');
    border: 1px solid #DDC;
}


/* 
   Lists
------------------------------------------------------------------- */

dl {margin-bottom: 2em;}
dt,dd {padding: 8px 10px;}
dt {
    background: url('img/grain_dark.gif');
    border-bottom: 1px solid #CCB;
    color: #555;
    font-weight: bold;
}
dd {
    background: url('img/grain_light.gif');
    border-bottom: 1px solid #DDC;
    padding-left: 16px;
}


/* 
   Links 
------------------------------------------------------------------- */

a {color: #543;}
a:hover {
    color: #C40;
    text-decoration: underline;
}


/* 
   Forms 
------------------------------------------------------------------- */

fieldset {
    border-left: 1px solid #CCB;
    border-right: 1px solid #CCB;
    margin: 1em 0 1.2em;
}

input, textarea, select {
    background-color: #FFF;
    border-color: #777 #CCC #CCC #777;
    border-style: solid;
    border-width: 1px;
    font: normal 0.9em Verdana,sans-serif;
    padding: 4px;
}

input.button {
    background: #E9E8E8 url('img/backgrounds.gif') repeat-x 0 -366px;
    border: 1px solid #888;
    border-color: #BBB #888 #888 #CCC;
    color: #444;
    cursor: pointer;
    font: normal 0.9em Verdana,sans-serif;
    margin-top: 5px;
    padding: 6px;
    width: auto;
}
input:focus,input:active,textarea:focus,textarea:active,select:focus,select:active,input.button:hover,input.button:focus {background: #FFFFF5;}
input.button:hover, input.button:focus {
    color: #123;
    cursor: pointer;
}

textarea {overflow: auto;}

input.image {
    border: 0;
    padding: 0;
}

/* Specific */

.form_row {
    background: url('img/grain_light.gif');
    border-bottom: 1px solid #E1E1D5;
    padding: 10px 0;
}
.form_required {font-weight: bold;}
.form_row_submit, .legend {
    background: url('img/grain_dark.gif');
    border-bottom: 1px solid #CCB;
    border-top: 1px solid #CCB;
    padding: 4px 0 8px;
}
.legend {padding: 8px 18px 6px;}
.form_property, .form_value {float: left;}
.form_property {
    font-size: 1.1em;
    text-align: right;
    width: 110px;
}
.form_value {padding-left: 24px;}
.form_row_submit .form_value {padding-left: 132px;}


/* 
   Images 
------------------------------------------------------------------- */

img.bordered {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 3px;
}

img.left {margin: 0 15px 12px 0;}
img.right {margin: 0 0 15px 12px;}


/* 
   Floats
------------------------------------------------------------------- */

.left {float: left;}
.right {float: right;}

.clear,.clearer {clear: both;}
.clearer {
    display: block;
    font-size: 0;
    line-height: 0;
}


/* 
   Misc 
------------------------------------------------------------------- */

/* Separators */
.content_separator, .archive_separator {
    background: #D6D6C6;
    clear: both;
    color: #FFE;
    display: block;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 12px 0 24px;
}
.archive_separator {margin: 0 0 12px;}

/* Messages */
.error, .notice, .success {
    border: 1px solid #DDD;
    margin-bottom: 1em;
    padding: 0.6em 0.8em;
}

.error {background: #FBE3E4; color: #8A1F11; border-color: #FBC2C4;}
.error a {color: #8A1F11;}

.notice {background: #FFF6BF; color: #514721; border-color: #FFD324;}
.notice a {color: #514721;}

.success {background: #E6EFC2; color: #264409; border-color: #C6D880;}
.success a {color: #264409;}


/* 
   Layout 
------------------------------------------------------------------- */

/* General */
.center_wrapper {
    margin: 0 auto;
    width: 1200px;
}

#header {
    background: #35322B url('img/backgrounds.gif') repeat-x 0 0;
    padding-top: 8px;
}


/* Toplinks */
#toplinks {
    background: #353530 url('img/toplinks.gif') no-repeat left top;
    color: #554;
    float: right;
    font-size: 0.9em;
    height: 27px;
    width: 230px;
}
#toplinks_inner {
    padding-top: 3px;
    text-align: center;
}
#toplinks a {color: #887;}
#toplinks a:hover {color: #DDC;}

/* Site title */
#site_title {
    color: #998;
    padding: 0 0 16px;

}
#site_title a {
    color: #FFB;
    text-decoration: none;

}
#site_title a:hover {color: #FFF;}
#site_title h1 span {color: #CCB;}


/* Navigation */
#navigation ul, #navigation li {display: inline;}
#navigation li {display: inline;}
#navigation, #navigation a {background: #958573 url('img/backgrounds.gif') repeat-x 0 -222px;}
#navigation a {
    border-right: 1px solid #AFA69C;
    color: #654;
    float: left;
    font: bold 0.9rem Verdana,serif; /*Georgia,sans-serif;*/
    margin-right: 1px;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
}
#navigation li:first-child a {border-left: 1px solid #AFA69C;}
#navigation a:hover,#navigation li.current_page_item a {
    background-position: 0 -294px;
    color: #543;
}

/* main columns*/
.main-column {
    display: inline-block;
    vertical-align: top;
}
#sidebar-left {
    width:230px;
    padding-right: 20px;
}
#sidebar-left-content {

}
/* Main */
#main_wrapper_outer {background: url('img/grain.gif');}
#main_wrapper_inner {
    background: url('img/main_wrapper_inner.gif') repeat-x left top;
    line-height: 1.4em;
    padding: 24px 0;
}
#main {
    font: normal 0.9em Verdana,sans-serif;
    width: 760px;
}

#main ol, #main ul {margin: 0 0 0 0;}
#main ul li {list-style: disc;}
#main ol li {list-style: decimal;}
#main li {padding: 0;}


/* Sidebar */
#sidebar-right {
    color: #665;
    width: 200px;
    padding-left: 20px;
}
#sidebar-right-content {}
#sidebar-right a {/*color: #665;*/}
#sidebar-right a:hover {color: #C40;}


/* Dashboard */
#dashboard {
    background: #DDD url('img/grain_dark.gif');
    border-top: 1px dashed #C0C0B0;
}
#dashboard_content {
    width:750px;
    margin:0 225px 0 225px;
    padding: 20px 0;
    font-size: 0.9rem;
}

#dashboard .col3 {
    display:inline-block;
    vertical-align: top;
    width: 225px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #CCB;
}

#dashboard .col3:first-child {
    border:0;
    margin-left: 0;
}
#dashboard li {
    color: #887;
    padding: 5px 0;
}
#dashboard li {border-top: 1px dashed #C6C6B6;}
#dashboard li a {
    color: #606050;
    text-decoration: none;
}
#dashboard li a:hover {
    color: #332;
    text-decoration: underline;
}


/* Footer links */
#footer {
    color: #AA9;
    padding: 12px 0;
}
#footer a {color: #BBA;}
#footer .right, #footer .right a {
    color: #777;
    text-decoration: none;
}
#footer a:hover {color: #CCB;}

/*
   Catalog items
------------------------------------------------------------------- */
.catalog {
    margin:20px 0px;
}
.item {
    margin-bottom: 25px;
    margin-left:5px;
    margin-right:5px;
    height: auto;
    width:138px;

    text-align: center;
    display: inline-block;
    vertical-align: top;

}
.authorName a {
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;

}

.bookTitle a {
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;

}
.bookAuthor a {
    text-decoration: none;

    font-size: 11px;

}
.authorName a:hover, .bookTitle a:hover, .bookAuthor a:hover {
    text-decoration: underline;

}
.itemImg {
    /*width:168px;
    height:248px;*/
}
.itemImg a.img {
    background: url('img/grain_dark.gif');
    display: block;
    margin-bottom: 5px;
    padding: 4px;
}
.itemImg a.img:hover {background: #C6C6BA;}
.itemImg .img img {display: block;}

/*
     product card 
--------------------------------------------*/
.product-card {
    margin:30px 0;
}
.product-card-box {
    display: inline-block;
    vertical-align: top;
}
.product-card-img {
    width:168px;

    margin-right: 20px;
    margin-bottom: 20px;
}
.product-card-img a.img {
    /*display: block;*/
}
.product-card-img a.img img{
    background: url('img/grain_dark.gif');
    padding: 4px;
}
.product-card-title {
    font: normal 2rem Verdana,serif;
}
.product-card-other-books a {
     color:#C40;
     font: normal 1.2rem Verdana,serif;
 }
.product-card-rating{
    font-size: 14px;
    margin:5px 0 20px 0;
    text-align: center;
}

.product-card-details{
    width:540px;
    margin: 20px 0;
}
.product-card-details .author-bio {
    height:300px;
    overflow: scroll;
    overflow-x: hidden;
}
.product-card-info {
    width: 150px;
}

.product-card-value {
    width: 450px;
}
.product-card-value a{
    text-decoration: underline;
}
.product-card-info-column {
    font-size: 1rem;
    font-weight: bold;
}

/* 
   Posts 
------------------------------------------------------------------- */

.post {margin-bottom: 24px;}

.post_title a,.post_date a {text-decoration: none;}
.post_date a:hover,.post_meta a:hover {text-decoration: underline;}

.post_date {
    color: #777;
    margin-bottom: 14px;
}
.post_date a {color: #444;}

.post_meta {
    background: url('img/grain_light.gif');
    border: 1px solid #E5E5D5;
    color: #776;
    font-size: 0.9em;
    padding: 8px 10px;
}
.post_meta a {color: #665;}
.post_meta a:hover {color: #001;}

/* Archives */
.archive_pagination {margin-bottom: 1.6em;}
.archive_post {margin-bottom: 1em;}
.archive_post_date {
    background: url('img/grain_light.gif');
    border-bottom: 1px solid #C5C5B5;
    border-right: 1px solid #CFCFBF;
    float: left;
    margin-right: 12px;
    padding: 3px 0 5px;
    text-align: center;
    width: 44px;
}
.archive_post_day {font: normal 1.8em Georgia,serif;}


/* 
   Thumbnails
------------------------------------------------------------------- */

.thumbnails {margin: 0 -0 2em -8px;}
.thumbnails a.thumb {
    background: url('img/grain_dark.gif');
    display: block;
    float: left;
    margin: 0 0 8px 8px;
    padding: 3px;
}
.thumbnails a.thumb:hover {background: #C6C6BA;}
.thumbnails .thumb img {display: block;}


/* 
   Box
------------------------------------------------------------------- */

.box {margin-bottom: 1.5em;}
.box_title {
    background: url('img/grain_dark.gif');
    color: #665;
    font-weight: bold;
    padding: 5px 8px;
}
.box_content {
    padding: 10px;
    font-size: 1rem;
}
.box_content_center {
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}
.box li {
    border-top: 1px solid #DDC;
    padding: 4px 0;
}
.box li:first-child {border-top: none;}
.box_content input[type="text"] {
    background-color: #f9f9f8;
    border:2px solid #e2e2d9;
    width:100%;
}
.box .col-container {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.box .ord_container {
    width: 90px;
    margin-right: 20px;
}
.box .per_container {
    width: 30px;
    margin-right: 10px;
}
/*
------------ sidebar-filters-----------------*/
.filter-helper{
    margin-top: 10px;
    padding: 0 5px;
    text-align: center;
}
.filter-helper a {
    color:#C40;
}
/* 
   Comments 
------------------------------------------------------------------- */

div.comment_list {
    border-top: 1px solid #D6D6C6;
    margin: 1em 0 2em;
}

.comment {
    border-bottom: 1px solid #D6D6C6;
    padding-top: 10px;
}
.comment_date {
    font-size: 0.9em;
    padding-top: 4px;
}
.comment_date a {
    color: #665;
    text-decoration: none;
}
.comment_date a:hover {
    color: #001;
    text-decoration: underline;
}
.comment_body {padding-top: 4px;}

.comment_gravatar {width: 48px;}
.comment_gravatar img {
    background: #FFF;
    border: 1px solid #DDD;
    padding: 2px;
}
.comment_author {padding-top: 3px;}


/* 
   IE float/background fixes
------------------------------------------------------------------- */

.legend, blockquote, #sidebar {min-height: 0.01%;}

/*
author
--------------------------------------------------------------------*/

#author {
    color: #FFB;
}

/*
pagination
--------------------------------------------------------------------*/
.pagination-pan {
    text-align: center;
}
/*
filtering-sorting panel
--------------------------------------------------------------------*/
.filt-sort-pan {
    padding: 25px 0 15px;

}
.filter-pan {


}
.orderby-pan {
    float: right;
}
.orderby-item {
    display: inline-block;
    padding-left:5px;
    padding-right:5px;
}
.textHelper {
    font-size: 10px;
    margin-bottom: 3px;
    text-align: center;
}
.box select {
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;

    background-image: url('img/arrow_up_down.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: #f9f9f8;
    border:2px solid #e2e2d9;
    padding-right:15px;


}
.box select.per {
    width: 50px;
}
.box select.ord {
    width: 110px;
}
.box select.sort {
    width:100%;
}

select::-ms-expand {
    display: none;
}
/*
breadcrumbs
----------------------------------------------------------------------*/
.breadcrumbs-bar {
    border-bottom: 1px solid #D6D6C6;
    font: normal 11px Verdana,serif;
}
ul.breadcrumbs {
    /*background: url('img/grain_dark.gif');*/

    color: #665;
    list-style: none;
    padding: 5px 8px 17px;
    margin: 0;
}
ul.breadcrumbs li {
    display: inline-block;
    margin: 5px 5px;
}
ul.breadcrumbs li.active {

}

/*
pagination
--------------------------------------------------------------------------*/
.pagination-pan{
    margin:10px 0;
    padding-bottom: 10px;
}
ul.catalog-pagination {
    list-style: none;

}
ul.catalog-pagination li {
    display: inline-block;
    text-align: center;
    border:2px solid #e2e2d9;
    background: #f9f9f8;
    font-size: 12px;
    margin-left: -2px;
    height:22px;

}

ul.catalog-pagination li span {
    padding:10px;


}
ul.catalog-pagination li a {
    padding:12px 10px;

}
ul.catalog-pagination li.disabled {
    cursor: not-allowed;
}
ul.catalog-pagination li.active {
    background-color: #C40;
    border-color: #a83801;
    border-width: 2px;
    padding:10px;

}
ul.catalog-pagination li.active a {
    color: #f9f9f8;
}
ul.catalog-pagination li a, ul.catalog-pagination li span {
    vertical-align: middle;
    padding:10px;
}
/*
--------- empty-search-results --------------------*/
.empty-search-results {
    margin: 30px 0 130px;
    padding: 30px;
    font-size: 1.2rem;
    text-align: center;
}
/*
---------------most popular books of author-----*/
.additional_books_title {
    font-size: 1.2rem;
    font-weight: bold;
    margin:15px 0 25px;
}
#countryPopupButton {
    background-color: #f9f9f8;
    padding: 4px 8px;
    border-color: #CCB;
    border-style: solid;
    border-width: 4px;
}
#countryPopupContainer{
    position: relative;
}
#countryPopup{
    width:250px;
    height:500px;
    background-color: #FFF;
    border-color: #e2e2d9;
    border-style: solid;
    border-width: 4px;
    font: normal 0.9em Verdana,sans-serif;
    padding: 4px;
    display:none;
    position:absolute;
    overflow-y: auto;
}